h1{
    background-color: red;
    color: rgb(255, 255, 255);
    margin: 5PX;
    padding: 20px;
    text-align: center;
}
header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}
header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgba(27, 2, 61, 0.7);
    padding: 1px 0px 1px 20px;
    color: white;
}
header {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgb(7, 3, 68);
    padding-bottom: 5px;
}

header nav {
    width: 95%;
    height: 45px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    /* padding: 0px 20px; */
}
img{
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}
p{
    font-size: 20px;
}